* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


header, footer {
    background-color: #1f2937;
    padding: 10px 60px;
    padding-bottom: 60px;
    color: white
}

a {
    color: white;
    text-decoration: none;
    font-size: smaller;
    margin-right: 10px;
}

.top_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.sign_up_block {
    display: flex;
    justify-content: space-between;
}

.text_sign_up h4 {
    color: rgb(160, 231, 231);
    font-size: 48px;

}

#signup_button{
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    margin-top: 30px;
    justify-self: center;
    cursor: pointer;
}

.info-section{
    padding: 40px;

}

.info-section h2{
    color: black;
    text-align: center;

    font-size: 36px;
    font-weight: 900;
}

.card-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.card-box {
    width: auto;
    height: 120px;
    border: 3px solid #4A90E2;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 10px;
}

.card .card-text {
    font-size: 16px;
    color: #333;
    text-align: center;
}
/* Advance */
.tooltip {
  position: relative;
  cursor: help;
}

.tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 12px;

  position: absolute;
  z-index: 1;
  bottom: 125%; /* position above the word */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
